[client]
default-character-set = utf8
socket = /var/lib/mysql/mysql.sock
[mysqld]
########basic settings########
port = 3306
user = mysql
#bind_address = 10.1.1.1
open_files_limit = 8192
character-set-server = utf8mb4
skip_name_resolve = 1
slave-parallel-workers = 4
max_connections = 1000
#max_user_connections = 200
max_connect_errors = 1000
datadir = /var/lib/mysql
socket = /var/lib/mysql/mysql.sock
pid-file = /var/run/mysqld/mysqld.pid
transaction_isolation = READ-COMMITTED
explicit_defaults_for_timestamp = 1
join_buffer_size = 134217728
#tmp_table_size = 67108864
#tmpdir = /var/lib/mysql
max_allowed_packet = 160M
lower_case_table_names = 1
sql_mode = NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES
interactive_timeout = 1800
wait_timeout = 1800
read_buffer_size = 16777216
read_rnd_buffer_size = 33554432
sort_buffer_size = 33554432
max-heap-table-size = 128M
symbolic-links = 0
########log settings########
#slow_query_log = 1
#slow-query-log-file = /var/log/mysql-slow.log
#log_error = /var/log/mysql-error.log
#log_queries_not_using_indexes = 0
#log_slow_admin_statements = 1
#log_slow_slave_statements = 1
#expire_logs_days = 10
#long_query_time = 1
#min_examined_row_limit = 100
########innodb settings########
innodb_data_file_path = ibdata1:1024M:autoextend
innodb_page_size = 8192
innodb_buffer_pool_size = 8G
innodb_buffer_pool_instances = 8
innodb_buffer_pool_load_at_startup = 1
innodb_buffer_pool_dump_at_shutdown = 1
innodb_lru_scan_depth = 2000
innodb_lock_wait_timeout = 20
innodb_io_capacity = 4000
innodb_io_capacity_max = 8000
innodb_flush_method = O_DIRECT
#innodb_file_format = Barracuda
#innodb_file_format_max = Barracuda
innodb_undo_logs = 128
innodb_undo_tablespaces = 3
innodb_flush_neighbors = 1
innodb_log_file_size = 4G
innodb_log_buffer_size = 16777216
innodb_purge_threads = 4
innodb_large_prefix = 1
innodb_thread_concurrency = 64
innodb_print_all_deadlocks = 1
